<header class="flex flex-row pl-2 pr-6 shadow-lg">
    <div class="w-20 h-auto">
        <img src="assets/ElecElite.png" alt="Logo">
    </div>
    <form class="self-center ml-4 mr-6 w-3/4">
        <input type="text"
               placeholder="Search for a product"
               [formControl]="control"
               [matAutocomplete]="auto"
               class="border border-solid border-slate-700 p-3 rounded-full w-full">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let product of filteredStreets | async" [value]="product">
            {{product}}
          </mat-option>
        </mat-autocomplete>
      </form>
    <div class="flex flex-row gap-5">
        <button routerLink="" >Home</button>
        <button routerLink="/products">Products</button>
        <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
        <button routerLink="cart"><mat-icon class="" matBadge="{{cartProductCounter}}">shopping_cart</mat-icon></button>
        <button *ngIf="isLoggedIn" routerLink="/profile"><mat-icon>person</mat-icon></button>
        <ng-container *ngIf="!isLoggedIn">
          <button class="bg-white text-black px-4 py-2 my-auto whitespace-nowrap border border-slate-700 hover:bg-slate-200 font-medium">Log in</button>
          <button class="bg-slate-800 text-white px-4 py-2 my-auto hover:opacity-80 font-medium">Register</button>
        </ng-container>
        
    </div>
</header>
