<h1>Cart</h1>
<form *ngIf="summary?.items?.length" [formGroup]="formGroup">
    <div class="mt-6 w max-w-5xl flex flex-col">
        <div class="flex flex-row justify-between items-start mb-3 border-b py-2">
            <div class="w-32 text-center">Image</div>
            <div class="w-32 text-center">Name</div>
            <div class="w-32 text-center">Quantity</div>
            <div class="w-32 text-center">Value</div>
            <div class="w-32 text-center"></div>
        </div>
        <div formGroupName="items">
            <div *ngFor="let item of items; let i = index">
                <div [formGroupName]="i"  class="flex flex-row justify-between items-center py-2 border-b">
                    <div class="w-32 text-center">
                        <a routerLink="{{'/products/' + item.value?.product?.slug}}">
                            <img *ngIf="!item.value?.product?.image" src="/assets/image-placeholder.png"
                                class="object-scale-down w-full h-24">
                            <img *ngIf="item.value?.product?.image"
                                [src]="'data:' + item.value?.product?.image.image.filetype + ';base64,' + item.value?.product?.image.image.image"
                                class="object-scale-down w-full h-24">
                        </a>
                    </div>
                    <div class="w-32 text-center">{{item.value?.product?.name}}</div>
                    <div class="w-32 flex flex-row justify-center"><input class="w-10" type="number" formControlName="quantity" (change)="submit()"></div>
                    <div class="w-32 text-center">{{item.value?.lineValue}}</div>
                    <div class="w-32 text-center">
                        <button mat-icon-button (click)="deleteItem(item.value.id)" matTooltip="delete" matTooltipClass="tooltipWarn"
                        color="warn">
                        <mat-icon>delete_forever</mat-icon>
                      </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-end mt-6 gap-2">
            <div class="summary"> Total value: </div>
            <div class="summary"> <b>{{summary?.summary?.grossValue}} PLN</b></div>
        </div>
        <div class="flex justify-end mt-6">
            <button mat-flat-button color="warn" class="!w-48 !py-6" routerLink="/order">Order</button>
        </div>
    </div>
</form>
<div *ngIf="!summary?.items?.length">
    Cart is empty
</div>