<h1>Products</h1>
<mat-card *ngFor="let prod of products" class="mb-4">
  <div class="flex flex-row">
    <div class="flex-1">
      <mat-card-header>
      <mat-card-title>{{prod.name}}</mat-card-title>
      <mat-card-subtitle>{{prod.category}}</mat-card-subtitle>
      </mat-card-header>
      <div class="flex flow-row pl-4">
        <img src="/assets/image-placeholder.png" mat-card-lg-image>
        <mat-card-content>{{prod.description}}</mat-card-content>
      </div>
    </div>
    <div class="p-4">
      <span>{{prod.price + " "+ prod.currency}}</span>
    </div>
  </div>
  <mat-card-actions class="gap-4 m-4 justify-end">
    <button class="bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded-full">Show</button>
    <button class="bg-red-400 hover:bg-red-700 text-white py-2 px-4 rounded-full">Add to cart </button>
  </mat-card-actions>
</mat-card>
<mat-paginator [length]='totalElements'
              [pageSize]="10"
              [pageSizeOptions]="[10, 25, 50]"
              aria-label="Select page"
              (page)="onPageChange($event)">
</mat-paginator>