<div class="flex flex-row gap-4">
  <h1>Product List</h1>
  <button class="button-blue h-1/2" routerLink="/admin/products/add">Add Product</button>
</div>
<table mat-table [dataSource]="products" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.price}} {{element.currency}} 
        <p *ngIf="element?.discountPrice">{{element.discountPrice}} {{element.currency}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="discountPrice">
      <th mat-header-cell *matHeaderCellDef> Discount Price </th>
      <td mat-cell *matCellDef="let element"> 
        <p *ngIf="element?.discountPrice">{{element.discountPrice}} {{element.currency}}</p>
        <p *ngIf="!element?.discountPrice"> - </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button class="button-blue"
          [routerLink]="['/admin/products/update', element.id]">EDIT</button>
      </td> 
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button class="button-rose ml-2"
          (click)="confirmDelete(element.id)">DELETE</button>
      </td> 
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[25, 50, 70]"
    [pageSize]="25"
    showFirstLastButtons
    [length]="totalElements">
</mat-paginator>