<div class="flex flex-row gap-4">
  <h1>Product List</h1>
  <button class="bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded-full h-1/2" routerLink="/admin/products/add">Add Product</button>
</div>
<table mat-table [dataSource]="products" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/admin/products/update', element.id]">
          <img *ngIf="!element.image" src="/assets/image-placeholder.png" class="w-10">
          <img *ngIf="element.image" src="{{'/api/data/productImages/' + element.image}}" class="w-10">
        </a>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} {{element.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded-full"
          [routerLink]="['/admin/products/update', element.id]">EDIT</button>
        <button class="bg-rose-500 hover:bg-rose-700 text-white  py-2 px-4 rounded-full ml-2"
          (click)="confirmDelete(element.id)">DELETE</button>
      </td> 
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[25, 50, 70]"
    [pageSize]="25"
    showFirstLastButtons
    [length]="totalElements">
</mat-paginator>