<div class="flex flex-col mt-8">
    <div class="flex flex-row">
        <div class="w-1/2 max-h-80">
            <swiper-container navigation="true" pagination="true" pagination-clickable="true">
                <swiper-slide class="flex flex-row justify-center"><img *ngIf="!product?.image"
                        src="/assets/image-placeholder.png" class="object-scale-down max-h-80"></swiper-slide>
                <swiper-slide>Slide 2</swiper-slide>
                <swiper-slide>Slide 3</swiper-slide>
            </swiper-container>
        </div>
        <div class="flex flex-col justify-between mb-4 pl-12">
            <div class="flex flex-col gap-4">
                <h1>{{product?.name}}</h1>
                <small>{{product?.category}}</small>
                <div>
                    {{product?.description}}
                </div>
                <div class="flex flex-row gap-4 mb-6">
                    <div *ngIf="product?.discountPrice" class="font-semibold">{{product?.discountPrice}}PLN</div>
                    <div [ngClass]="product?.discountPrice? 'line-through': 'font-semibold'">{{product?.price}}PLN</div>
                </div>
            </div>
            <div>
                <button mat-flat-button color="warn" class="!w-48 !py-6" routerLink="/cart"
                    [queryParams]="{productId: product?.id}">Add to cart</button>
            </div>

        </div>
    </div>
    <div class="mt-8">
        <h2>Add review:</h2>
        <form [formGroup]="reviewForm" (submit)="submit()" class="flex flex-col gap-4">
            <mat-form-field appearance="outline">
                <mat-label>Author</mat-label>
                <input matInput placeholder="your name" formControlName="authorName">
                <mat-error *ngIf="authorName?.errors?.['required']">Name is required</mat-error>
                <mat-error *ngIf="authorName?.errors?.['minlength']">Name has to contain min 2 signs</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Your opinion</mat-label>
                <textarea matInput rows="10" placeholder="Twoja opinia" formControlName="content"></textarea>
                <mat-error *ngIf="content?.errors?.['required']">Opinion is reqired</mat-error>
                <mat-error *ngIf="content?.errors?.['minlength']">Opinion has to contain min 4 signs</mat-error>
            </mat-form-field>
            <div class="self-center">
                <button mat-flat-button color="primary" [disabled]="!reviewForm.valid" class="!w-48 !py-6">Save</button>
            </div>
        </form>
        <div class="mt-8">
            <h2>All reviews:</h2>
        </div>

        <div>
            <div *ngFor="let review of product?.reviews" class="bg-purple-100 p-3 mb-3">
                <h4>Author: {{review.authorName}}</h4>
                <p>{{review.content}}</p>

            </div>
        </div>
    </div>
</div>