<footer class="bg-gray-800 p-5 text-white">
    <div class="grid grid-cols-6 mt-8 px-6 gap-4 mb-6">
        <div class="pr-6" >
            <div class="text-lg font-medium mb-2">ElecElite</div>
            <div class="mb-6">Discover the Future of Technology with ElecElite – Your Go-To Source for the Latest Electronics and Gadgets.</div>
            <div class="w-16">
                <img src="assets/ElecElite.png" alt="Logo">
            </div>
        </div>
        <div class="pr-6">
            <div class="font-medium mb-2">Contact</div> 
            <ul class="list-disc list-inside">
                <li class="mb-2">Address: 123 Tech Avenue, Innovation City, EC123</li>
                <li class="mb-2">Email: <a href="mailto:adres contact@elecelite.com">contact@elecelite.com</a></li>
                <li><a class="cursor-pointer">About Us</a></li>
            </ul>
        </div>
        <div class="pr-6">
            <div class="font-medium mb-2">Customer Support</div>
            <ul class="list-disc list-inside">
                <li class="mb-2"><a class="cursor-pointer">FAQs</a></li>
                <li class="mb-2"><a class="cursor-pointer">Privacy Policy</a></li>
                <li><a class="cursor-pointer">Contact Us</a></li>
            </ul>
        </div>
        <div class="pr-6">
            <div class="font-medium mb-2">Follow Us</div> 
            <ul class="list-disc list-inside">
                <li class="mb-2"><a class="cursor-pointer">Facebook</a></li>
                <li class="mb-2"><a class="cursor-pointer">Twitter</a></li>
                <li class="mb-2"><a class="cursor-pointer">Instagram</a></li>
                <li><a class="cursor-pointer">YouTube</a></li>
            </ul>
        </div>
        <div class="pr-6">
           <div class="font-medium mb-2">Newsletter Signup</div>
           <div class="mb-2">Stay updated with the latest tech trends and exclusive offers. Sign up for our newsletter.</div>
           <ul class="list-disc list-inside">
            <li class="mb-2"><a class="cursor-pointer">Subscribe</a></li>
        </ul> 
        </div>
        <div class="pr-6">
            <div class="font-medium mb-2">Certifications & Awards</div>
            <ul class="list-disc list-inside">
                <li class="mb-2"><a class="cursor-pointer">Trusted Shop</a></li>
                <li><a class="cursor-pointer">ISO Certified</a></li>
            </ul>
            <div class="mt-14">© 2024 ElecElite. All rights reserved.</div>
        </div>
        
    </div>
</footer>
