<div class="h-full flex flex-col">
    <header class="bg-pink-600 p-5 flex flex-row justify-between">
        <div>
            Logo
        </div>
        <div class="flex flex-row gap-4">
            <button routerLink="">Link</button>
            <button routerLink="">Link</button>
            <button routerLink="">Link</button>
        </div>
    </header>
    <div class=" flex-1 flex flex-row">
        <div class="w-1/5 bg-slate-500 p-5">
            <div class="flex flex-col">
                <button routerLink="/admin">Dashboard</button>
                <button routerLink="/admin/products">Products</button>
                <button routerLink="">Link</button>
            </div>
        </div>
        
        <div class="w-4/5 p-5">
            <router-outlet></router-outlet>    
        </div>
    </div> 
</div>