<div class="h-full">
    <header class="bg-pink-600 p-5 flex justify-between">
        <div>
            Logo
        </div>
        <div>
            <button routerLink="">Link</button>
            <button routerLink="">Link</button>
            <button routerLink="">Link</button>
        </div>
    </header>
    <div class="flex flex-row h-[93%]">
        <div class="w-1/5 bg-slate-500 p-5">
            <div>sidebar</div>  
        </div>
        
        <div class="w-4/5 p-5">
            <router-outlet></router-outlet>    
        </div>

    </div> 
 </div>