<div class="h-full flex flex-col">
    <header class="flex flex-row shadow-lg justify-between items-center">
        <div></div>
        <div class="flex flex-row items-center justify-between">
            <div class="w-20 h-auto">
                <img src="assets/ElecElite.png" alt="Logo">
            </div>
            <div>
                <div class="text-base font-semibold">ElecElite</div>
                <div class="text-base">Management System</div>
            </div>
        </div>
        <div class="hover:text-purple-500 transition-colors duration-500 text-lg cursor-pointer mr-6"
            matTooltip="Log out" matTooltipClass="tooltipBackgroundColor">
            <mat-icon>logout</mat-icon>
        </div>
    </header>
    <div class=" flex-1 flex flex-row">
        <div class="w-1/5 p-5 shadow-lg flex flex-col mt-14">
            <div class="flex flex-col items-center gap-2">
                <button routerLink="/admin/products" routerLinkActive="border-purple-700 bg-purple-700 text-white"
                    class="transition-colors duration-700 w-40 py-4 border border-transparent hover:border-purple-700">Products</button>
                <button routerLink="admin/categories" routerLinkActive="border-purple-700 bg-purple-700 text-white"
                    class="transition-colors duration-700 w-40 py-4 border border-transparent hover:border-purple-700">Categories</button>
                <button routerLink="admin/orders" routerLinkActive="border-purple-700 bg-purple-700 text-white"
                    class="transition-colors duration-700 w-40 py-4 border border-transparent hover:border-purple-700">Orders</button>
                <button routerLink="admin/statistics"
                    routerLinkActive="border-purple-700 bg-purple-700 text-white"
                    class="transition-colors duration-700 w-40 py-4 border border-transparent hover:border-purple-700">Statistics</button>
            </div>
        </div>

        <div class="w-4/5 p-5">
            <app-admin-message></app-admin-message>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>