<div class="flex flex-row">
    <div class="flex-grow">
        <h2>Logowanie</h2>
        <form [formGroup]="loginForm" class="flex flex-col" (submit)="login()">
            <p *ngIf="loginError" class="text-red-600 m-3 self-center"> Invalid login or password</p>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username" placeholder="Write your e-mail">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <button class="button-blue">Log in</button>
        </form>
    </div>
    <div class="flex-grow">
        <h2>Rejestracja</h2>
        <form [formGroup]="registerForm" class="flex flex-col" (submit)="register()">
            <p *ngIf="registerError" class="text-red-600 m-3 self-center"> Invalid login or password</p>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username" placeholder="Write your e-mail">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Repeated password</mat-label>
                <input type="password" matInput formControlName="repeatedPassword" placeholder="Repeat password">
            </mat-form-field>
            <button class="button-blue">Register</button>
        </form>
    </div>
</div>
