@use '@angular/material' as mat;
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; };

$my-primary: mat.define-palette(mat.$deep-purple-palette, 400);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 density: 0,
));

@include mat.all-component-themes($my-theme);

.button-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full disabled:bg-slate-200 disabled:text-slate-500 disabled:cursor-not-allowed;
}

.button-rose {
    @apply bg-rose-500 hover:bg-rose-700 text-white py-2 px-4 rounded-full; 
}

.mdc-notched-outline__notch
{
  border-right: none;
}
:root{
  --swiper-theme-color: rgb(126 34 206);
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-navigation-color: var(--swiper-theme-color);

}